<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myblog.MemberDAO">

    <insert id="insertMember" parameterType="MemberDTO">
        INSERT INTO MEMBER (memNum, memId, memPw, memName, memEmail, memPhone, memBirth, memSex, memAddress, memAddressDetail, memImg)
        VALUES (member_seq.NEXTVAL, #{memId}, #{memPw}, #{memName}, #{memEmail}, #{memPhone}, #{memBirth}, #{memSex}, #{memAddress}, #{memAddressDetail}, #{memImg})
    </insert>

</mapper>