<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <div style="width: 300px; border: 1px solid black; padding: 20px;">    
        <div class="login">
            <h2 style="margin: 0;";>로그인</h2>
            ID : <input id="loginId"/> <br/>  
            PW :<input id="ioginPw"/>
        </div> 
        <div style="text-align: center;">
            <button id="loginBtn" type="submit" style="margin: 0px;">로그인</button>
        </div>
    </div>
    <a href="/join">회원가입</a>  |  <a href="/find">ID/PW찾기</a>
    </body>
</html>